.titleWrapper{
    font-size:1.5rem;
    font-weight: 400;
    padding-bottom:8rem;
    text-align: center;
}
.whiteColor{
    color:var(--white-primary);
}
.goldenColor{
    color:var(--golden-primary);
}
@media (min-width:240px) and (max-width:900px){
    .titleWrapper{
        font-size: 1.5rem;
    }
}